@using DevIO.MvcIdentity.Extensions;
@{
    ViewData["Title"] = "Secret";
}
<h1>@ViewData["Title"]</h1>

<p>Secret</p>

@{
    if (this.IfClaim("Produtos", "Ler"))
    {
        <p>Você só verá isso se tiver permissao de Ler!</p>
    }
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Você só verá isso se tiver permissao de Adicionar!</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context, "Produtos", "Ler")
</div>

<div>
    <br />
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "Adicionar"))">Adicionar</a>
</div>
<div>
    <br />
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "Excluir"))">Excluir</a>
</div>